:root {
   --color1: #212121;
   --color2: #2c2c2c;
   --color3: #363636;
   --color6: #f7f9f9;
   --color7: #e5e7e9;
   --color8: #cb9749;
}

* {
   margin: 0;
   padding: 0;
   border: 0;
   box-sizing: border-box;
   font-family: "IBM Plex Sans", serif;
}

body {
   display: grid;
   grid-template-columns: 350px 1fr;
}

.nav__close {
   position: fixed;
   top: 0;
   left: 0;
   background-color: transparent;
   display: none;
   justify-content: end;
   width: 100%;
   padding: 10px 15px;
}

.nav__close__icon {
   background-color: var(--color1);
   color: var(--color8);
   display: flex;
   font-size: 25px;
   border: 1px solid var(--color8);
   border-radius: 5px;
   cursor: pointer;
   padding: 5px;
}

.nav {
   background-color: var(--color1);
   display: flex;
   flex-direction: column;
   width: 100%;
   height: 100vh;
   row-gap: 10px;
   overflow: auto;
}

.nav__search {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 100%;
   margin: 30px 0;
   column-gap: 20px;
}

.nav__serch__input {
   background-color: var(--color6);
   color: var(--color1);
   font-size: 1rem;
   font-weight: 400;
   border-radius: 5px;
   outline: none;
   padding: 10px 15px;
}

.nav__search__trash {
   background-color: var(--color7);
   color: var(--color1);
   display: flex;
   font-size: 20px;
   border-radius: 5px;
   cursor: pointer;
   padding: 10px;
}

.nav__search__trash:hover {
   background-color: var(--color6);
}

.nav__sumary {
   padding: 10px 15px;
}

.nav__sumary__title {
   color: var(--color8);
   font-size: 1.1rem;
   font-weight: 500;
}

.nav__sumary__2024,
.nav__sumary__2023,
.nav__sumary__2022 {
   display: flex;
   flex-direction: column;
   width: 100%;
   padding: 0 30px;
}

.nav__sumary__letter {
   color: var(--color8);
   font-size: 1rem;
   font-weight: 400;
   text-decoration: none;
   border-bottom: 1px dotted var(--color8);
   padding: 10px 0;
}

.main {
   background: radial-gradient(var(--color3), var(--color2));
   display: flex;
   flex-direction: column;
   width: 100%;
   height: 100vh;
   overflow: auto;
   padding: 0 30px;
}

.header {
   display: flex;
   flex-direction: column;
   width: 100%;
   text-align: center;
   margin: 40px 0 50px 0;
   padding: 0 3%;
}

.header__title {
   color: var(--color8);
   font-size: 2rem;
   font-weight: 700;
   text-align: center;
}

.header__paragraph {
   color: var(--color8);
   font-size: 1.1rem;
   font-weight: 400;
   font-style: italic;
   margin: 10px 0 20px 0;
}

.works {
   display: flex;
   flex-direction: column;
   width: 100%;
   margin: 0 0 50px 0;
}

.works__title {
   color: var(--color8);
   font-size: 1.1rem;
   font-weight: 500;
   margin: 0 0 20px 0;
}

.works__container {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   gap: 50px 30px;
}

.card {
   display: flex;
   flex-direction: column;
   width: 100%;
   text-decoration: none;
   row-gap: 10px;
}

.card:hover {
   transform: scale(1.04);
   transition: all 0.4s;
}

.card__image {
   display: flex;
   max-width: 100%;
   width: 100%;
   border-radius: 5px;
}

.card__footer {
   background-color: var(--color1);
   display: flex;
   justify-content: center;
   width: 100%;
   border-radius: 5px;
   padding: 10px 15px;
}

.card__title {
   color: var(--color7);
   font-size: 1rem;
   font-weight: 400;
}

.footer {
   display: flex;
   flex-direction: column;
   width: 100%;
   row-gap: 20px;
   padding: 50px 0;
}

.footer__title {
   color: var(--color8);
   font-size: 1.1rem;
   font-weight: 500;
   text-align: center;
}

.footer__sociales {
   display: flex;
   justify-content: center;
   column-gap: 50px;
   width: 100%;
}

.footer__sociales__link {
   display: flex;
}

.footer__sociales__yt,
.footer__sociales__spotify,
.footer__sociales__instagram,
.footer__sociales__paypal {
   color: #E8A236;
   font-size: 30px;
   cursor: pointer;
}

@media (max-width: 900px) {
   body {
      position: relative;
      display: flex;
      flex-direction: column;
      width: 100%;
   }
   
   .nav {
      display: none;
   }

   .nav__active {
      display: flex;
      padding: 50px 5%;
   }

   .nav__search {
      display: none;
   }

   .nav__close {
      display: flex;
   }

   .main__active {
      display: none;
   }

   .header {
      margin: 60px 0 50px 0;
   }
}

@media (max-width: 590px) {
   .works__container {
      grid-template-columns: 1fr;
   }
}